<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<h2>計算する</h2>

<div id="route-info">
    <p>距離: <span id="distance"></span></p>
    <p>時間: <span id="duration"></span></p>
</div>


<%= render 'gasolines/calculate' %>

<%= render 'highways/highway' %>

<script>
//取得した距離と時間を表示
$(document).ready(function() {
    // セッションストレージからデータを取得
    var km = sessionStorage.getItem('km');
    var time = sessionStorage.getItem('time');

    // HTMLに表示
    $('#distance').text(km);
    $('#duration').text(time);
});
</script>