<%= stylesheet_link_tag 'header' %>

<header>
    <h1>
        <a href="/">交平さん</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><a href="#">ログイン</a></li>
        </ul>
    </nav>
</header>
