<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h1>ガソリン代の計算</h1>

<div id="route-info">
    <p>距離: <span id="distance"></span></p>
    <p>時間: <span id="duration"></span></p>
</div>


<form id='gasoline-form'>
  <div class="field">
    <label>走行距離</label>
    <input type="number" id="total_distance">km
  </div>

  <div class="field">
    <label>燃費</label>
    <input type="number" id="fuel_efficiency">km/L
  </div>

  <div class="field">
    <label>ガソリン単価</label>
    <input type="number" id="price_per_liter">円/L
  </div>

  <div class="actions">
    <button type="button" id="calculate-button">計算</button>
  </div>
</form>

<h2 id="cost">ガソリン代金円</h2>


<%= link_to "次へ",  reset_cost_highways_path, class: "next" %>


<script>
//取得した距離と時間を表示
$(document).ready(function() {
    // セッションストレージからデータを取得
    var km = sessionStorage.getItem('km');
    var time = sessionStorage.getItem('time');

    // HTMLに表示
    $('#distance').text(km);
    $('#duration').text(time);
});

document.addEventListener('DOMContentLoaded', function(){
  const calculateButton = document.getElementById('calculate-button');
  calculateButton.addEventListener('click', function(){
    const distance = document.getElementById('total_distance').value;
    const fuelEfficiency = document.getElementById('fuel_efficiency').value;
    const pricePerLiter = document.getElementById('price_per_liter').value;
    const cost = (distance / fuelEfficiency) * pricePerLiter;
    
    // ガソリン代金を表示
    document.getElementById('cost').innerText = `ガソリン代金 ${cost.toFixed(1)} 円`;

    // ガソリン代金をサーバに保存
    $.ajax({
      url: '/gasolines/save_gasoline_cost',
      type: 'POST',
      data: { 'gasoline_cost': cost.toFixed(1) }
    });
  });
});


</script>
