<div id="extra-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Extra</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag 'extra_form' do %>
          <!-- Form will be inserted here -->
        <% end %>
      </div>
    </div>
  </div>
</div>
